# Arquivos do sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de IDE/Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependências
node_modules/

# Ambiente e logs
.env
*.log
npm-debug.log*

# Build e automatização
dist/
build/
*.exe
